// eslint-disable-next-line vue/multi-word-component-names
<template>
  <div>
    <div class="top-bar">
      <h1>Data Bansos</h1>
    </div>

    <form @submit.prevent="submitForm" class="form-container">
      <div class="form-column">
        <label for="nama">Nama:</label>
        <input type="text" v-model="formData.nama" required>
      </div>

      <div class="form-column">
        <label for="nik">NIK:</label>
        <input type="number" v-model="formData.nik" required>
      </div>

      <div class="form-column">
        <label for="nomorKk">Nomor Kartu Keluarga:</label>
        <input type="number" v-model="formData.nomorKk" required>
      </div>

      <div class="form-column">
        <label for="fotoKtp">Foto KTP:</label>
        <input type="file" id="fotoKtpInput" @change="event => handleFileUpload(event, 'fotoKtp')" accept="image/*" required>
      </div>

      <div class="form-column">
        <label for="fotoKk">Foto Kartu Keluarga:</label>
        <input type="file" id="fotoKkInput" @change="event => handleFileUpload(event, 'fotoKk')" accept="image/*" required>
      </div>

      <div class="form-column">
        <label for="umur">Umur:</label>
        <input type="number" v-model="formData.umur" required>
      </div>

      <div class="form-column">
        <label for="jenisKelamin">Jenis Kelamin:</label>
        <select v-model="formData.jenisKelamin" required>
          <option value="Laki-laki">Laki-laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
      </div>

      <div class="form-column">
        <label for="provinsi">Provinsi:</label>
        <select v-model="formData.provinsi" @change="onProvinceSelected" required>
          <option value="" disabled>Select a province</option>
          <option v-for="province in provincesList" :key="province.id" :value="province.name">
            {{ province.name }}
          </option>
        </select>
      </div>

      <div class="form-column">
        <label for="kabKota">Kab/Kota:</label>
        <select v-model="formData.kabKota" @change="onRegencySelected" required>
          <option value="" disabled>Select a regency/city</option>
          <option v-for="regency in regenciesList" :key="regency.id" :value="regency.name">
            {{ regency.name }}
          </option>
        </select>
      </div>

      <div class="form-column">
        <label for="kecamatan">Kecamatan:</label>
        <select v-model="formData.kecamatan" @change="onDistrictSelected" required>
          <option value="" disabled>Select a district</option>
          <option v-for="district in districtsList" :key="district.id" :value="district.name">
            {{ district.name }}
          </option>
        </select>
      </div>

      <!-- New select for kelurahan -->
      <div class="form-column">
        <label for="kelurahan">Kelurahan:</label>
        <select v-model="formData.kelurahan" required>
          <option value="" disabled>Select a village</option>
          <option v-for="village in villagesList" :key="village.id" :value="village.name">
            {{ village.name }}
          </option>
        </select>
      </div>

      <div class="form-column">
        <label for="alamat">Alamat:</label>
        <textarea v-model="formData.alamat" maxlength="255" required></textarea>
      </div>

      <div class="form-column">
        <label for="rt">RT:</label>
        <input type="text" v-model="formData.rt" required>
      </div>

      <div class="form-column">
        <label for="rw">RW:</label>
        <input type="text" v-model="formData.rw" required>
      </div>

      <div class="form-column">
        <label for="penghasilanSebelum">Penghasilan sebelum pandemi:</label>
        <input type="number" v-model="formData.penghasilanSebelum" required>
      </div>

      <div class="form-column">
        <label for="penghasilanSesudah">Penghasilan setelah pandemi:</label>
        <input type="number" v-model="formData.penghasilanSesudah" required>
      </div>

      <div class="form-column">
        <label for="alasanBantuan">Alasan membutuhkan bantuan:</label>
        <select v-model="formData.alasanBantuan" required>
          <option value="Kehilangan pekerjaan">Kehilangan pekerjaan</option>
          <option value="Kepala keluarga terdampak atau korban Covid-19">Kepala keluarga terdampak atau korban Covid-19</option>
          <option value="Tergolong fakir/miskin semenjak sebelum Covid-19">Tergolong fakir/miskin semenjak sebelum Covid-19</option>
          <option value="Lainnya">Lainnya</option>
        </select>
      </div>

      <div class="form-column">
        <label v-if="formData.alasanBantuan === 'Lainnya'" for="alasanBantuanLainnya">Lainnya:</label>
        <input v-if="formData.alasanBantuan === 'Lainnya'" type="text" v-model="formData.alasanBantuanLainnya" required>
      </div>

      <div class="form-checkbox">
        <input type="checkbox" v-model="formData.persetujuan" required>
        <p>
          Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan apabila ditemukan ketidaksesuaian dalam data tersebut.
        </p>
      </div>

      <button type="submit" :disabled="formData.loading">
        {{ formData.loading ? 'Loading...' : 'Submit' }}
      </button>
    </form>

    <!-- Preview Data -->
    <div v-if="isFormSubmitted" class="data-preview">
      <h2>Data Preview</h2>
      <pre>{{ formData }}</pre>
    </div>

    <div class="bottom-bar">
      <p>Kemensos</p>
    </div>
  </div>
</template>

<script>
// import axios from 'axios';
export default {
  data() {
    return {
      formData: {
        nama: "",
        nik: null,
        nomorKk: null,
        fotoKtp: null,
        fotoKk: null,
        umur: null,
        jenisKelamin: "",
        provinsi: "",
        kabKota: "",
        kecamatan: "",
        kelurahan: "",
        alamat: "",
        rt: "",
        rw: "",
        penghasilanSebelum: null,
        penghasilanSesudah: null,
        alasanBantuan: "",
        alasanBantuanLainnya: "",
        persetujuan: false,
        loading: false,
      },
      isFormSubmitted: false,
      provincesList: [],
      regenciesList: [],
      districtsList: [],
      villagesList: [],
    };
  },

  created() {
    this.fetchProvincesList();
  },

  watch: {
    formData: {
      handler: function(newFormData) {
        console.log('FormData changed:', newFormData);
      },
      deep: true, // Memonitor perubahan pada properti dalam objek formData
    },
  },

  methods: {
    async fetchProvincesList() {
      try {
        const response = await fetch('https://www.emsifa.com/api-wilayah-indonesia/api/provinces.json');
        
        if (!response.ok) {
          throw new Error('Failed to fetch provinces');
        }

        const provinces = await response.json();
        this.provincesList = provinces;
      } catch (error) {
        console.error('Error fetching provinces:', error);
        // Optionally, you can handle errors or display an error message to the user
      }
    },
    onProvinceSelected() {
      // Mendapatkan ID Provinsi dari Provinsi yang dipilih
      const selectedProvince = this.provincesList.find(province => province.name === this.formData.provinsi);

      // Memuat daftar Kab/Kota berdasarkan Provinsi yang dipilih
      if (selectedProvince) {
        this.fetchRegenciesList(selectedProvince.id);
      }
      this.regenciesList = []
      this.districtsList = [];
      this.villagesList = [];
    },
    async fetchRegenciesList(provinceId) {
      try {
        const response = await fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/regencies/${provinceId}.json`);
        
        if (!response.ok) {
          throw new Error('Failed to fetch regencies');
        }

        const regencies = await response.json();
        this.regenciesList = regencies;
      } catch (error) {
        console.error('Error fetching regencies:', error);
        // Optionally, you can handle errors or display an error message to the user
      }
    },
    onRegencySelected() {
      // Mendapatkan ID Provinsi dari Provinsi yang dipilih
      const selectedRegency = this.regenciesList.find(regency => regency.name === this.formData.kabKota);

      // Memuat daftar Kecamatan berdasarkan Kab/Kota yang dipilih
      if (selectedRegency) {
        this.fetchDistrictsList(selectedRegency.id);
      }

      // Reset the districts and villages lists when regency is selected
      this.districtsList = [];
      this.villagesList = [];
    },
    async fetchDistrictsList(regencyId) {
      try {
        const response = await fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/districts/${regencyId}.json`);
        
        if (!response.ok) {
          throw new Error('Failed to fetch districts');
        }

        const districts = await response.json();
        this.districtsList = districts;
      } catch (error) {
        console.error('Error fetching districts:', error);
        // Handle errors or display an error message to the user
      }
    },
    onDistrictSelected() {
    // Mendapatkan ID Kab/Kota dari Kab/Kota yang dipilih
      const selectedDistrict = this.districtsList.find(district => district.name === this.formData.kecamatan);

      // Memuat daftar Kecamatan berdasarkan Kab/Kota yang dipilih
      if (selectedDistrict) {
        this.fetchVillagesList(selectedDistrict.id);
      }
    },
    async fetchVillagesList(districtId) {
      try {
        const response = await fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/villages/${districtId}.json`);
        
        if (!response.ok) {
          throw new Error('Failed to fetch villages');
        }

        const villages = await response.json();
        this.villagesList = villages;
      } catch (error) {
        console.error('Error fetching villages:', error);
        // Handle errors or display an error message to the user
      }
    },
    handleFileUpload(event, field) {
      // Mendapatkan file yang dipilih
      const selectedFile = event.target.files[0];

      // Check if the file size is greater than 2MB (2 * 1024 * 1024 bytes)
      const maxSize = 2 * 1024 * 1024;
      if (selectedFile.size > maxSize) {
        alert('File size exceeds 2MB. Please choose a smaller file.');
        // Optionally, you can reset the input value to clear the selected file
        event.target.value = '';
        return;
      }

      // Membuat objek URL untuk file yang dipilih
      const fileURI = URL.createObjectURL(selectedFile);

      this.formData[field] = fileURI;

      // Melakukan sesuatu dengan fileURI, seperti menyimpannya di state Vue atau melakukan pengiriman ke server
      console.log("File URI:", fileURI);
    },
    async submitForm() {
  // Set loading to true to show loading state
      this.formData.loading = true;

      try {
        // Simulate asynchronous form submission with a delay of 1.5 seconds
        await new Promise(resolve => setTimeout(resolve, 1500));

        // Simulate server response success or failure using Math.random()
        const isSuccess = Math.random() > 0.5;

        if (isSuccess) {
          // Simulate a successful form submission
          this.isFormSubmitted = true;
          alert("Form submission success!");
        } else {
          // Simulate a failed form submission
          alert("Form submission failed. Please try again.");
        }
      } finally {
        // Set loading back to false when the submission is complete (whether success or failure)
        this.formData.loading = false;
      }
    },
  },
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.top-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.bottom-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-top: 30%;
  margin-bottom: 30%; */
  margin-left: 5%;
  margin-right: 5%;
}

/* Styles for web platforms */
@media (min-width: 768px) {
  .form-container {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}

/* Styles for mobile platforms */
@media (max-width: 767px) {
  .form-container {
    margin-top: 30%;
    margin-bottom: 30%;
  }
}

.data-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Display items in a row */
}

.form-checkbox input {
  margin-right: 8px;
  background-color:#2a7e5e;
}

.form-checkbox p {
  /* margin: 0; */
  text-align: left;
}

label {
  margin-bottom: 5px;
}

.form-column 
input,
select,
textarea {
  width: 75vw;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 5%;
}

button {
  background-color: #42b983;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2a7e5e;
}

h2 {
  margin-bottom: 10px;
}

pre {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

</style>
